<!DOCTYPE html> 
<html> 
  <head>
    <%- include partials/head %>
  </head>

  <body>
    <header>
        <%- include partials/header %>
        <section id="lowerBar">
          <h3 class="headerh3"><%=books.length %> Saved Books</h3>
        </section>
    </header>

    <main>
      <section class="bookDeck">

        <% books.forEach(book => { %>

          <div class=book-card >

            <img src=<%=book.image_url %> alt="">
            <h2 class="cardh2"><%=book.title %></h2>
            <h3 class="cardh3"><%=book.author %></h3>
            <a href='books/<%= book.id %>/' id=<%=book.id %>>View Details</a>

          </div>

        <% }) %>

      </section>
      
      <%- include partials/scripts %>
      <script>
        $('.bookDeck button').on('click', function() {
          $.get(`/books/${$(this).attr('id')}`, function() {
          })
        });
      </script>

    </main>
  </body>

</html>