<!DOCTYPE html> 
<html> 
<head>
  <title>
    Book App
  </title>
  <link rel="stylesheet" type='text/css' href="/styles/reset.css"/>
  <link rel="stylesheet" type='text/css' href="/styles/base.css"/>
</head>

<body>
  <h1>Best Books!</h1>

  <h3><%=books.length %> Saved Books</h3>

  <section class="bookDeck">
    <% books.forEach(book => { %>
      <div class=book-card >

      <h2><%=book.title %></h2>
      <h3><%=book.author %></h3>
      <img src=<%=book.image_url %> alt="">
      <button id=<%=book.id %>>View Details</button>


      </div>
    <% }) %>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $('.bookDeck button').on('click', function() {
      let bullshit = $(this).attr('id');
      $.get(`/books/${$(this).attr('id')}`, function() {
      })
    });
    // addListener(book);
    //   function addListener(book) {
    //     let element = document.getElementById(book.id);
    //     element.addEventListener('click', function() { 
    //        $.get('books/:id', console.log('stuff'));
    //     });  
    //   }
  </script>

</body>

</html>