<!DOCTYPE html>
<html>
  <head>
      <%- include ../partials/css %>

  </head>
  <body>
    <div class=book-card>
      <h2><%=bookInfo.title %></h2>
      <h3><%=bookInfo.author %></h3>
      <img src=<%=bookInfo.image_url %> alt="">
      <p><%=bookInfo.description %></p>
      <p><%=bookInfo.isbn %></p>
    </div>
    <a href="/">Back</a>
    <%- include ../partials/scripts %>
  </body>
</html>