<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class=book-card>
      <h2><%=bookInfo.title %></h2>
      <h3><%=bookInfo.author %></h3>
      <img src=<%=bookInfo.image_url %> alt="">
      <p><%=bookInfo.description %></p>
      <p><%=bookInfo.isbn %></p>
    </div>
  </body>
</html>